<main role="main" class="container">
  <%= if @conn.request_path != "/" do %>
    <p class="alert alert-info" role="alert"><%= get_flash(@conn, :info) %></p>
    <p class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></p>
  <% end %>
  <%= @inner_content %>
</main>
