<p class="is-size-3"><%= @company.name %></p>

<div class="container py-5">
  <p class="is-size-4 mb-5">Settings</p>
  <%= render "form.html", Map.put(assigns, :action, Routes.company_path(@conn, :update, @company)) %>
</div>

<%= render InfinWeb.CategoryView, "index.html", Map.put(assigns, :action, Routes.company_path(@conn, :update, @company)) %>
