<div class="columns is-flex is-centered my-5">
  <div class="column card is-half">
    <div class="card-content px-6 pt-6">
      <p class="is-size-3 mb-5 has-text-centered">Register</p>
      <%= render "steps.html", assigns %>
    </div>
  </div>
</div>
