<div class="container py-5">
  <p class="is-size-4 mb-5">Listing Invoices</p>
  <div class="panel">
    <%= for invoice <- @invoices do %>
      <%= link invoice.id_document, to: Routes.invoice_path(@conn, :show, invoice), class: "panel-block is-block py-3 px-4" %>
    <% end %>
  </div>
  <div class="buttons">
    <%= link "New Invoice", to: Routes.invoice_path(@conn, :new), class: "button is-primary" %>
  </div>
