<h1>Show Invoice</h1>

<ul>

  <li>
    <strong>Id document:</strong>
    <%= @invoice.id_document %>
  </li>

</ul>

<span><%= link "Edit", to: Routes.invoice_path(@conn, :edit, @invoice) %></span>
<span><%= link "Back", to: Routes.invoice_path(@conn, :index) %></span>
